<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Lista de todos os Filmes</title>
</head>
<body>
    <form action="/filmes" method="POST" enctype="multipart/form-data">
        <label for="nome">Nome</label>
        <br>
        <input placeholder="Digite aqui o Nome do Filmes" type="text" name="nome" id="nome">
        <br>
        <label for="ator">Ator</label>
        <br>
        <input placeholder="Digite Aqui o Nome Do Ator" type="text" name="ator" id="ator">
        <br>
        <label for="duracao">Duração</label>
        <br>
        <input type="number" name="duracao" id="duracao">
        <br>
        <br>
        <label for="avatar">Sua Foto de Perfil</label>
        <br>
        <input type="file" name="avatar" id="avatar" accept=".jpg">
        <br>
        <br>
        <button type="submit">Enviar</button>
        
    </form>
</body>
</html>