<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Produtos || Olá <%= user.nome %></h1>
    <ul>
        <% listaProdutos.forEach(produto =>{ %>
            <li>Vendedor: <%= produto.vendedor %></li>
            <li>Produto: <%= produto.produto %></li>
            <li>Preço: <%= produto.preco %></li>
            
        <% }) %>
    </ul>    
   
</body>
</html>